section.footer 
	.section_in 
		.footer_main
			.footer_content
				.footer_left 
					.footer_logo 
						a(href="#")
						img(src="i/sprite/dress.svg", alt="")
						p WOMAZING
					.footer_left_info 
						p © Все права защищены
						a(href="#") Политика конфиденциальности
						a(href="#") Публичная оферта
				.footer_centre 
					.footer_centre_menu 
						ul 
							li 
								a(href="#") Главная 
							li
								a(href="#") Магазин
							li
								a(href="#") О бренде
							li
								a(href="#") Контакты
					.footer_centre_bot 
						ul 
							li 
								a(href="#") Пальто
							li
								a(href="#") Свитшоты
							li
								a(href="#") Кардиганы
							li
								a(href="#") Кардиганы
				.footer_right 
					.footer_phone 
						a(href="#")
							p +7 (495) 823-54-12
					.footer_mail 
						a(href="#")
							p hello@womazing.com
					.footer_cocial 
						ul 
							li
								a(href="#")
									img(src="i/icons/instagram.svg", alt="")  
							li
									a(href="#") 
										img(src="i/icons/facebook.svg", alt="")
							li
								a(href="#") 
									img(src="i/icons/twitter.svg", alt="")
					.footer_pay 
						img(src="i/pay.png", alt="")
