header.header
	.section_in
		.header_main
			.heade_logo_w 
				.header_logo 
					a(href="#")
						img(src="i/sprite/dress.svg", alt="")
						p WOMAZING
				.header_menu 
					ul 
						li 
							a(href="#") Главная 
						li
							a(href="#") Магазин
						li
							a(href="#") О бренде
						li
							a(href="#") Контакты
				.header_phone
					a(href="#")
						.header_phone_icon
							+icon('call') 
						p +7 (495) 823-54-12
				.header_bag_icon 
					a(href="#") 
						img(src="i/icons/bag.svg", alt="")
