.hero {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: - $header;
		left: 0;
		width: 100%;
		height: calc(100% + $header);
		background: url('../../i/bg.png') no-repeat center / cover;
		z-index: -1;
	}
	&:after {
		content: '';
		top: - $header;
		left: 0;
		position: absolute;
		background: rgba(2, 2, 2, 0.8);
		width: 100%;
		height: calc(100% + $header);
		z-index: 1;
	}
}
.hero {
}
.section_in {
}
.hero_main {
	position: relative;
	z-index: 2;
}
.hero_content {
	padding: 17rem 0 6rem 0;
	@include bp($point_2) {
		text-align: center;
	}
	@include bp($point_5) {
		padding: 5rem 0 3rem 0;
	}
	h1 {
		font-size: 5rem;
		font-family: $font_2;
		padding-bottom: 3rem;
		@include bp($point_2) {
			font-size: 4rem;
		}
		@include bp($point_5) {
			font-size: 2.5rem;
		}
	}
	p {
		color: rgba(255, 255, 255, 0.7);;
		font-size: 2rem;
		font-family: $font_1;
		line-height: 2.7rem;
		font-weight: 400;
	}
}
.hero_form {
	margin-bottom: 21.1rem;
	@include bp($point_2) {
		margin-bottom: 10rem;
	}
	@include bp($point_5) {
		margin-bottom: 3rem;
	}
	ul {
		display: flex;
		align-items: center;
		@include bp($point_2) {
			justify-content: center;
		}
		@include bp($point_5) {
		}
	}
}
.hero_form_btn {
	button {
		@include app;
		font-family: $font_3;
		font-size: 2rem;
		text-transform: uppercase;
		padding: 2.2rem 7rem;
		background: $gradient;
		border-radius: 1rem;
		margin-right: 4rem;
		@include bp($point_5) {
			font-size: 1.6rem;
			padding: 1.5rem 2rem;
		}
		&:hover {
			transition: .3s;
			background: linear-gradient(87.61deg, #FFC121 -9.17%, #F45E40 144.26%);
			box-shadow: 0 .4rem 3rem #FD8B39;
			border-radius: .7rem;
		}
	}
}
.hero_form_w {
	border-radius: 4rem;
	height: 5.4rem;
	width: 5.4rem;
	overflow: hidden;
	&:hover {
		transform: scale(1.1);
		transition: .3s
	}
	a {
		@include flex-center;
		width: 100%;
		height: 100%;
		background: linear-gradient(67.62deg, #00A867 1.42%, #00FF38 113.45%);
		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}
.hero_bottom {
	padding-bottom: 5rem;
	ul {
		display: flex;
		align-items: center;
			@include bp($point_2) {
				justify-content: center;
			}
			@include bp($point_5) {
				flex-direction: column;
			}
		}
	p {
		color: $light-orange;
		font-size: 5rem;
		margin-right: 1.5rem;
		@include bp($point_2) {
			font-size: 4rem;
		}
		@include bp($point_5) {
			margin-right: 1rem;
		}
	}
	span {
		color: $light-orange;
		font-size: 2rem;
		max-width: 11rem;
		@include bp($point_2) {
			font-size: 1.8rem;
		}
		@include bp($point_5) {
			line-height: 1.5rem;
		}
	}
	li {
		@include flex-start;
		&:not(:last-child) {
			margin-right: 12rem;
		}
		@include bp($point_5) {
			&:not(:last-child) {
				margin: 0 0 1rem 0;
			}
		}
	}
}
.services {
	background-color: $light-grey;
}
.section_in {
}
.services_main_w {
	padding: 15rem 0;
	@include bp($point_2) {
		padding: 8rem 0;
	}
	@include bp($point_5) {
		padding: 3rem 0;
	}
}
.services_head {
	margin-bottom: 6rem;
	@include bp($point_2) {
		text-align: center;
	}
	@include bp($point_5) {
		margin-bottom: 5rem;
	}
	h2 {
		font-size: 4rem;
		position: relative;
		display: inline-flex;
		@include bp($point_5) {
			font-size: 2.5rem;
		}
		&:after {
			content: '';
			height: .4rem;
			width: 6.5rem;
			background: $dark-orange;
			position: absolute;
			top: 55%;
			transform: translateY(-50%);
			left: calc(100% + 3rem);
			@include bp($point_2) {
				display: none;
			}
		}
	}
}
.services_list {
	margin-bottom: 8rem;
	@include bp($point_5) {
		margin-bottom: 3rem;
	}
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
		grid-gap: 4rem 3rem;
		width: 100%;
		@include bp($point_5) {
			grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
			grid-gap: 2rem 2rem;
		}
	}
	li {
		background: $white;
	}
	h3 {
		font-size: 2.2rem;
		margin-bottom: 2rem;
	}
	span {
		font-weight: 700;
		font-size: 2.2rem;
		color: $dark-orange;
		display: block;
	}
}
.services_item_content {
	padding: 2rem 2rem 3rem 2rem;
}
.services_item_img {
	@include flex-center;
	width: 100%;
	height: 27.3rem;
	overflow: hidden;
	cursor: pointer;
	img {
		object-fit: cover;
		height: 100%;
	}
}
.services_item_txt {
	margin-bottom: 3rem;
	@include bp($point_5) {
		margin-bottom: 3rem;
		h3 {
			font-size: 2rem;
			text-align: center;
			@include bp($point_5) {
				margin-bottom: 1rem;
			}
		}
		span {
			font-size: 2.5rem;
			text-align: center;
		}
	}
}
.services_btn_order {
	button {
		@include app;
		font-family: $font_3;
		font-size: 1.8rem;
		flex: 1;
		padding: 1.6rem 5.3rem;
		background: $gradient;
		border-radius: 1rem;
		&:not(:last-child) {
			margin-right: 1rem;
		}
		&:hover {
			transition: .3s;
			background: linear-gradient(87.61deg, #FFC121 -9.17%, #F45E40 144.26%);
			box-shadow: 0 .4rem 3rem #FD8B39;
			border-radius: .7rem;
		}
		@include bp($point_2) {
			width: 100%;
		}
	}
}
.services_btn_group {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
	grid-gap: 1rem;
	@include bp($point_2) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}
.services_btn_link {
	display: flex;
	width: 100%;
	text-align: center;
	a {
		font-size: 1.8rem;
		padding: 1.6rem 5.3rem;
		background: $black;
		border-radius: 1rem;
		color: $white;
		width: 100%;
		&:hover {
			transition: .3s;
			background: $black;
			box-shadow: 0 .4rem 3rem rgba(2, 2, 2, 0.7);
			border-radius: .7rem;
		}
		@include bp($point_2) {
			text-align: center;
		}
	}
}
.services_btn {
	text-align: center;
	width: 100%;
	button {
		@include app;
		font-family: $font_3;
		font-size: 1.8rem;
		flex: 1;
		padding: 1.6rem 5.3rem;
		background: $gradient;
		border-radius: 1rem;
		@include bp($point_2) {
			width: 35%;
		}
		@include bp($point_5) {
			width: 80%;
		}
		&:hover {
			transition: .3s;
			background: linear-gradient(87.61deg, #FFC121 -9.17%, #F45E40 144.26%);
			box-shadow: 0 .4rem 3rem #FD8B39;
			border-radius: .7rem;
		}
	}
}
.advantages {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../../i/bg2.png') no-repeat center / cover;
		z-index: -1;
		@include bp($point_2) {
			display: none;
		}
		@include bp($point_5) {
			display: none;
		}
	}
}
.advantages_main {
	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: .9;
		z-index: -1;
		display: none;
		@include bp($point_2) {
			display: block;
		}
	}
	padding: 10rem 0 16.7rem 0;
	@include bp($point_2) {
		padding: 8rem 0;
	}
	@include bp($point_5) {
		padding: 3rem 0;
	}
}
.advantages_content {
	@include bp($point_2) {
		text-align: center;
		padding: 0;
	}
}
.advantages_head {
	margin-bottom: 6rem;
	@include bp($point_2) {
		margin: 5rem 0;
		h2 {
			font-size: 3rem;
		}
	}
	@include bp($point_5) {
		h2 {
			font-size: 2.5rem;
			margin: 5rem 0;
		}
	}
	h2 {
		color: $white;
	}
}
.advantages_list_W {
	max-width: 78.8rem;
	@include bp($point_2) {
		max-width: 100rem;
	}
		li {
		&:not(:last-child) {
			margin-bottom: 7rem;
			border-bottom: .1rem solid rgba(255, 255, 255, 0.2);
			padding-bottom: 3.5rem;
			@include bp($point_2) {
				margin-bottom: 2rem;
				padding-bottom: 1.5rem;
			}
		}
		display: flex;
		align-items: flex-start;
	}
}
.advantages_item_number {
	margin-right: 5rem;
	@include bp($point_2) {
		display: none;
	}
	h2 {
		color: $light-orange;
		font-size: 6rem;
		margin-top: -1rem;
	}
}
.advantages_item_txt{
	max-width: 64.9rem;
	@include bp($point_2) {
		max-width: 100rem;
	}
	p {
		color: $white;
		font-size: 2.2rem;
		margin-bottom: 1.5rem;
		@include bp($point_2) {
			font-size: 1.8rem;
		}
		@include bp($point_5) {
			font-size: 1.6rem;
		}
	}
	span {
		color: rgba(255, 255, 255, 0.7);
		font-size: 2rem;
		@include bp($point_2) {
			font-size: 1.6rem;
		}

	}
}
.company {
	background-color: $light-grey;
	position: relative;
}
.company_main {
	padding: 15rem 0 14.6rem 0;
	display: flex;
	@include bp($point_2) {
		justify-content: center;
		padding: 8rem 0 8rem 0;
	}
	@include bp($point_5) {
		padding: 3rem 0;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 129.5rem;
		height: 100%;
		background-color: $white;
		content: '';
	}
}
.company_content {
	max-width: 75.5rem;
	position: relative;
	@include bp($point_2) {
		text-align: center;
	}
	h2 {
		font-size: 4rem;
		position: relative;
		display: inline-flex;
		margin-bottom: 4rem;
		@include bp($point_2) {
			font-size: 3rem;
			margin-bottom: 5rem;
		}
		@include bp($point_5) {
			font-size: 2.5rem;
			margin-bottom: 5rem;
		}
		&:after {
			content: '';
			height: .4rem;
			width: 6.5rem;
			background: $dark-orange;
			position: absolute;
			top: 55%;
			transform: translateY(-50%);
			left: calc(100% + 3rem);
			@include bp($point_2) {
				display: none;
			}
		}
	}
	h4 {
		font-size: 2.2rem;
		margin-bottom: 3rem;
		font-weight: 700;
		@include bp($point_5) {
			margin-bottom: 1.5rem;
		}
		@include bp($point_2) {
			font-size: 2rem;
		}
		@include bp($point_5) {
			font-size: 1.6rem;
		}
	}
}
.company_txt_w {
	p, ul, span, b, strong {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	p {
		font-size: 2rem;
		@include bp($point_2) {
			font-size: 1.6rem;
		}
	}
}
.company_img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 72rem;
	@include bp($point_2) {
		display: none;
	}
}
.certificate {
	background-color: $light-grey;
}
.certificate_main_w {
	padding: 15rem 0;
	@include bp($point_2) {
		padding: 8rem 0;
	}
	@include bp($point_5) {
		padding: 3rem 0;
	}
}
.certificate_head {
	@include bp($point_2) {
		text-align: center;
	}
	h3 {
		font-size: 4rem;
		position: relative;
		display: inline-flex;
		margin-bottom: 6rem;
		@include bp($point_2) {
			margin-bottom: 5rem;
			font-size: 3rem;
		}
		@include bp($point_5) {
			font-size: 2.5rem;
			margin-bottom: 5rem;
		}
		&:after {
			content: '';
			height: .4rem;
			width: 6.5rem;
			background: $dark-orange;
			position: absolute;
			top: 55%;
			transform: translateY(-50%);
			left: calc(100% + 3rem);
			@include bp($point_2) {
				display: none;
			}
		}
	}
}
.certificate_main {
	display: flex;
	@include bp($point_2) {
		flex-direction: column;
		align-items: center;
	}
}
.certificate_galery {
	margin-right: 7.1rem;
	@include bp($point_2) {
		max-width: 50rem;
		width: 100%;
		margin: 0 0 3rem 0;
	}
	img {
		height: 44.9rem;
		width: 31.1rem;
		@include bp($point_2) {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	ul {
		display: flex;
		@include bp($point_2) {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
			grid-gap: 2rem;
		}
	}
	li {
		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}
}
.certificate_content {
	@include bp($point_2) {
		text-align: center;
	}
	h4 {
		font-size: 2.2rem;
		max-width: 60.4rem;
		margin-bottom: 3rem;
		@include bp($point_5) {
			font-size: 2rem;
			margin-bottom: 1.5rem;
		}
	}
	ul {
		li {
			font-size: 2rem;
			@include bp($point_2) {
				font-size: 1.6rem;
			}
		}
	}
}
.contact {
	background-color: $light-grey;
}
.contact_main {
	display: flex;
	justify-content: space-between;
	@include bp($point_2) {
		display: -webkit-box;
	}
	@include bp($point_5) {
		display: flex;
		flex-direction: column;
	}
}
.contact_content {
}
.contact_head {
	margin-bottom: 6rem;
	@include bp($point_2) {
		// text-align: center;
		margin-bottom: 5rem;
	}
	@include bp($point_5) {
		margin-bottom: 5rem;
	}
	h3 {
		font-size: 4rem;
		position: relative;
		display: inline-flex;
		@include bp($point_2) {
			font-size: 3rem;
		}
		@include bp($point_5) {
			font-size: 2.5rem;
		}
		&:after {
			content: '';
			height: .4rem;
			width: 6.5rem;
			background: $dark-orange;
			position: absolute;
			top: 55%;
			transform: translateY(-50%);
			left: calc(100% + 3rem);
			@include bp($point_2) {
				display: none;
			}
		}
	}
}
.contact_list {
	@include bp($point_2) {
		margin: 0 2.5rem;
	}
	@include bp($point_5) {
		margin: 0;
	}
}
.contact_phone {
	font-family: $font_3;
	font-size: 2.2rem;
	margin-bottom: 2rem;
	@include bp($point_2) {
		font-size: 1.8rem;
	}
	@include bp($point_5) {
		font-size: 1.6rem;
	}
	p {
		color: $dark-orange;
	}
	&:hover {
		* {
			opacity: .9;
		}
		.contact_phone_icon {
			transform: rotate(25deg);
		}
	}
	a {
		display: flex;
		}
	}
.contact_phone_icon {
	width: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s ease;
	margin-right: 1.5rem;
	color: $dark-orange;
	@include bp($point_5) {
		width: 1.6rem;
	}
}
.icon {
}
.icon-call {
}
.contact_mail {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	font-size: 2rem;
	a {
		display: flex;
	}
	@include bp($point_5) {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
}
.contact_mail_icon {
	width: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5rem;
	@include bp($point_5) {
		width: 1.6rem;
	}
	p {
		font-size: 2rem;
	}
}
.icon-envelope {
}
.contact_adsress {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	font-size: 2rem;
	a {
		display: flex;
	}
	@include bp($point_5) {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
}
.contact_address_icon {
	width: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5rem;
	p {
		font-size: 2rem;
	}
	@include bp($point_5) {
		width: 1.3rem;
	}
}
.icon-mapmark {
}
.contact_operating {
	display: flex;
	align-items: center;
	margin-bottom: 5rem;
	font-size: 2rem;
	a {
		display: flex;
	}
	@include bp($point_5) {
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}
}
.contact_operating_icon {
	width: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5rem;
	p {
		font-size: 2rem;
	}
	@include bp($point_5) {
		width: 1.5rem;
	}
}
.icon-clock {
}
.contact_social {
	@include bp($point_5) {
		margin-bottom: 2rem;
	}
	ul {
		display: flex;
		align-items: center;
	}
	li {
		&:not(:last-child) {
			margin-right: 2.1rem;
		}
		&:hover {
			transform: scale(1.1);
			transition: .3s;
		}
	}
}
.contact_social_wh {
	border-radius: 4rem;
	height: 5.3rem;
	width: 5.3rem;
	overflow: hidden;
	@include bp($point_5) {
		height: 4.5rem;
		width: 4.5rem;
	}
	a {
		@include flex-center;
		width: 100%;
		height: 100%;
		background: linear-gradient(67.62deg, #00A867 1.42%, #00FF38 113.45%);
		svg {
			width: 2rem;
			height: 2rem;
			color: $white;
		}
	}
}
.contact_social_vk {
	border-radius: 4rem;
	height: 5.3rem;
	width: 5.3rem;
	overflow: hidden;
	@include bp($point_5) {
		height: 4.5rem;
		width: 4.5rem;
	}
	a {
		@include flex-center;
		width: 100%;
		height: 100%;
		background: linear-gradient(63.43deg, #009BDE 5.68%, #5ECFFF 111.74%);
		svg {
			width: 2.8rem;
			height: 1.6rem;
			color: $white;
		}
	}
}
.contact_map {
	max-width: 78.7rem;
	width: 100%;
	height: 43.6rem;
	@include bp($point_2) {
		height: 32rem;
		max-width: 100%;
		flex: 1;
	}
}
.contact_main_w {
	padding-bottom: 15rem;
	@include bp($point_2) {
		padding-bottom: 8rem;
	}
}