.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bag {
	font-size:calc(24/10)*1rem;
	width:calc(24/24)*1em;
}
.icon-call {
	font-size:calc(17/10)*1rem;
	width:calc(17/17)*1em;
}
.icon-dress {
	font-size:calc(25/10)*1rem;
	width:calc(19/25)*1em;
}
.icon-facebook {
	font-size:calc(21/10)*1rem;
	width:calc(21/21)*1em;
}
.icon-instagram {
	font-size:calc(23/10)*1rem;
	width:calc(22/23)*1em;
}
.icon-next {
	font-size:calc(16/10)*1rem;
	width:calc(29/16)*1em;
}
.icon-twitter {
	font-size:calc(23/10)*1rem;
	width:calc(23/23)*1em;
}
