section.brand 
	.section_in 
		.brand_main_w 
			.brand_head 
				h1 О бренде
				ul
					li
						a(href="#") Главная
					li 
						p О бренде
		.brand_main_top
			ul 
				li 
					img(src="i/galery/brand1.png", alt="")
				li 
					h2 Идея и женщина
					p Womazing была основана в 2010-ом и стала одной из самых успешных компаний нашей страны. Как и многие итальянские фирмы, Womazing остаётся семейной компанией, хотя ни один из членов семьи не является модельером.
					p Мы действуем по успешной формуле, прибегая к услугам известных модельеров для создания своих коллекций. Этот метод был описан критиком моды Колином Макдауэллом как форма дизайнерского со-творчества, характерная для ряда итальянских prêt-a-porter компаний. 
		.brand_main_bottom
			ul 
				li 
					img(src="i/galery/brand2.png", alt="")
				li 
					h2 Магия в деталях
					p Первый магазин Womazing был открыт в маленьком городке на севере страны в 2010-ом году. Первая коллекция состояла из двух пальто и костюма, которые были копиями парижских моделей.
					p Несмотря на то, что по образованию основательница была адвокатом, ее семья всегда была тесно связана с шитьём (прабабушка основательницы шила одежду для женщин, а мать основала профессиональную школу кроя и шитья). Стремление производить одежду для масс несло в себе большие перспективы, особенно в то время, когда высокая мода по-прежнему доминировала, а рынка качественного prêt-a-porter попросту не существовало. 
		.brand_main_btn 
			a(href="#") Перейти в магазин
