extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.hero 
		.section_in
			.hero_main
				.hero_content
					.hero_col_left 
						.hero_slider_w
							.hero_slider.swiper 
								.swiper-wrapper
									.swiper-slide 
										.hero_slide 
											h1 Новые поступления в этом сезоне
											p Утонченные сочетания и бархатные оттенки - вот то, что вы искали в этом сезоне. Время исследовать.
										.slide_btn 
											a(href="#") Открыть магазин
									.swiper-slide 
										.hero_slide
											h1 Что-то новенькое. Мы заждались тебя.
											p Надоело искать себя в сером городе? Настало время новых идей, свежих красок и вдохновения с Womazing!
										.slide_btn 
											a(href="#") Открыть магазин
									.swiper-slide 
										.hero_slide
											h1 Включай новый сезон с WOMAZING
											p Мы обновили ассортимент - легендарные коллекции и новинки от отечественных дизайнеров
										.slide_btn 
											a(href="#") Открыть магазин
					.hero_col_right 
						.right_galery 
							ul 
								li 
									.galery_first
										img(src="i/galery/foto1.png", alt="")
								li 
									.galery_second 
										img(src="i/galery/foto2.png", alt="")
								li
									.galery_third  
										img(src="i/galery/foto3.png", alt="")
	section.collection 
		.section_in 
			.collection_main_w 
				h2 Новая коллекция
				.collection_main
					ul 
						li 
							a(href="#") 
								.collection_img 
									img(src="i/galery/collection1.png", alt="")
								.collection_txt 
									h3 Футболка USA
									p $229
									span $129
						li
							a(href="#") 
								.collection_img 
									img(src="i/galery/collection2.png", alt="")
								.collection_txt 
									h3 Купальник Glow
									span $129
						li 
							a(href="#")
								.collection_img 
									img(src="i/galery/collection3.png", alt="")
								.collection_txt 
									h3 Свитшот Sweet Shot
									span $129
				.collection_main_btn 
					a(href="#")  Открыть магазин
	section.important 
		.section_in 
			.important_main
				.important_head 
					h2 Что для нас важно
				.important_content 
					ul 
						li 
							.content_icon 
								img(src="i/sprite/quality.svg", alt="")
							.content_txt 
								h3 Качество
								p Наши профессионалы работают на лучшем оборудовании для пошива одежды беспрецедентного качества
						li
							.content_icon 
								img(src="i/sprite/gear.svg", alt="")
							.content_txt 
								h3 Скорость
								p Благодаря отлаженной системе в Womazing мы можем отшивать до 20-ти единиц продукции в наших собственных цехах
						li
							.content_icon 
								img(src="i/sprite/hand.svg", alt="")
							.content_txt 
								h3 Ответственность
								p Мы заботимся о людях и планете. Безотходное производство и комфортные условия труда - все это Womazing
	section.team 
		.section_in 
			.team_main 
				.team_col_left 
					.team_slider_w
						.team_slider.swiper 
							.swiper-wrapper
								.swiper-slide 
									.team_slide
										img(src="i/galery/team1.png", alt="")
								.swiper-slide 
									.team_slide
										img(src="i/galery/team2.png", alt="") 
								.swiper-slide 
									.team_slide
										img(src="i/galery/team3.png", alt="")  
							.team_slider_nav
								.team_slider_btn.previews 
									button(type="button")
										+icon('previews')
								.works_slider_btn.next 
									button(type="button")
										+icon('next')
				.team_col_righ 
					h3 Для каждой
					p Каждая девушка уникальна. Однако, мы схожи в миллионе мелочей. 
					<br> Womazing ищет эти мелочи и создает прекрасные вещи, которые выгодно подчеркивают достоинства каждой девушки.
					a(href="#") Подробнее о бренде
